# Web Application
BASE_URL=https://example.com

# Ollama AI
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3
OLLAMA_TIMEOUT=120000
OLLAMA_MAX_RETRIES=3
OLLAMA_DISABLE=false

# WebdriverIO
HEADLESS=true
BROWSER=chrome
WDIO_TIMEOUT=60000

# Framework
OUTPUT_DIR=./src/features
OVERWRITE=false
INCLUDE_COMMENTS=true
